<!-- the navigation bar -->
<header id="nav-bar" class="px-10 pt-3 pb-4 flex justify-between items-center transition-all">
  <a href="/shop">
    <h1 class="text-white sm:text-2xl md:text-4xl cursor-pointer">upstore</h1>
  </a>
  <ul class="flex gap-4">
    <a class="nav-item" href="">
      <i class="fa-solid fa-heart nav-items"></i>
      <li class="nav-items hidden sm:block">Wishlist</li>
    </a>
    <a class="nav-item" href="">
      <i class="fa-solid fa-cart-shopping nav-items"></i>
      <li class="nav-items hidden sm:block">Cart</li>
    </a>
    <a class="nav-item" href="/profile">
      <i class="fa-solid fa-user nav-items"></i>
      <li class="nav-items hidden sm:block">Profile</li>
    </a>
  </ul>
</header>