<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upstore</title>

  <link rel="stylesheet" href="./styles.css">
  <script src="./scripts/formValidation.js"></script>
</head>

<body class="h-screen w-screen random-bg transition-all bg-black">
  <div class="h-screen w-screen bg-[#2c2c2cda] md:bg-gradient-to-r md:from-black md:to-transparent md:pl-10">
    <div class="h-full md:w-[300px] flex flex-col items-center md:items-stretch justify-center">
      <!-- brand name  -->
      <h1 class="text-gray-200 text-6xl font-mono cursor-default">upstore</h1>
      <!-- login form -->
      <form novalidate method="GET" action="/shop" onsubmit="return validateForm()" autocomplete="off" class="flex gap-2 flex-col justify-center bg-transparent mt-10 ">
        <% if(signUp == true) { %>
        <input type="text" id="name" placeholder="Your name" class="form-input">
        <h2 id="errorName" class="form-error hidden"></h2>
        <% } %>
        <input type="email" id="email" placeholder="Enter your email" class="form-input">
        <h2 id="errorEmail" class="form-error hidden"></h2>
        <% if(signUp == true) { %>
        <input type="password" id="password" placeholder="Create a password" class="form-input">
        <h2 id="errorPassword" class="form-error hidden"></h2>
        <% } else { %>
        <input type="password" id="password" placeholder="Enter password" class="form-input">
        <h2 id="errorPassword" class="form-error hidden"></h2>
        <%}%>

        <% if(signUp == true) { %>
        <input type="password" id="confirmPassword" placeholder="Confirm password" class="form-input">
        <h2 id="errorConfirmPassword" class="form-error hidden"></h2>
        <% } %>
        <input type="submit" placeholder="Submit" class="bg-gray-600 text-white p-3 rounded-md hover:bg-gray-200 hover:text-black  transition-all cursor-pointer">
      </form>
      <!-- go to sign up page -->
      <% if(signUp == true) { %>
      <a href="/" class="text-gray-200 mt-2 cursor-pointer underline ">Already have an account</a>
      <% } else { %>
      <a href="/sign-up" class="text-gray-200 mt-2 cursor-pointer underline ">Create an account</a>
      <% } %>
    </div>
  </div>
</body>

</html>