<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>

  <link rel="stylesheet" href="/styles.css">
</head>

<body class="pagebg">
  <!-- the content on the screen and also to dim the background image -->
  <div class="h-screen w-screen bg-[#000000a6] grid grid-cols-3">
    <div class="h-screen col-span-1 flex items-center justify-center">
      <img class="h-[300px] max-w-[350px] hover:h-[400px] border-[6px] hover:border-0 border-black object-contain -rotate-45 rounded-lg overflow-hidden hover:rotate-0 transition-all duration-[150ms] cursor-pointer" src="<%= product.imageUrl %>" alt="">
    </div>
    <div class="h-screen col-span-2 flex flex-col items-start justify-center text-white">
      <h4><%= product.companyName %></h4>
      <h1 class="font-bold text-5xl"><%= product.name %></h1>
      <h1 class="font-bold text-3xl">&#8377;<%= product.price %></h1>

    </div>
  </div>
</body>

</html>