<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="./styles.css" />
</head>

<body class="pagebg">
  <div class="h-screen w-screen bg-[#000000a6] flex flex-col">
    <!-- the navigation bar -->
    <%- include("../components/navBar.ejs"); %>
    <div class="h-full w-screen flex flex-col items-center justify-start md:items-start md:justify-start md:grid md:grid-cols-2">
      <div class="col-span-1 flex justify-end">
        <img src="<%=profilePictureUrl%>" class="mt-10 md:mt-24 md:mr-10 h-32 w-32 object-contain" />
      </div>
      <div class="col-span-1">
        <h4 class="mt-4 md:mt-16 profile-label">Name:</h4>
        <h3 class="profile-value"><%= user.name %></h3>
        <h4 class="profile-label">Email:</h4>
        <h3 class="profile-value"><%= user.email %></h3>
        <h4 class="profile-label">Address:</h4>
        <h3 class="profile-value">
          4297 Coal Street Houtzdale<br />Pennsylvania, 16651<br />USA
        </h3>
        <a href="/logout">
          <button class="bg-red-500 px-10 py-2 rounded-xl text-gray-50 font-semibold">
            Log out
          </button>
        </a>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/885853d9e4.js" crossorigin="anonymous"></script>
</body>

</html>