@tailwind base;
@tailwind components;
@tailwind utilities;

/* generates a random background everytime the page is loaded */
.random-bg {
  /* lorem picsum api */
  background-image: url("https://picsum.photos/1920/1080?grayscale");
  position: center center;
}

.form-input {
  @apply bg-transparent border-2 border-gray-600 p-3 rounded-md text-white;
}

.form-error {
  @apply text-xs text-red-500 ml-3;
}

.nav-item {
  @apply flex items-center gap-2 text-white hover:text-gray-400;
}

.nav-items {
  @apply cursor-pointer transition-all duration-200 text-xs md:text-sm;
}

/* the class that is added to nav bar when scroll happens */
.stick {
  @apply absolute top-0 left-0 right-0 bg-gray-300 z-10;
}

.stick * {
  @apply text-black;
}

.scroll-bar::-webkit-scrollbar {
  width: 2px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}

.card:hover .price-text {
  @apply text-red-400;
}

.grayscale {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.card:hover .grayscale {
  -webkit-filter: grayscale(0);
  filter: none;
}

.pagebg {
  @apply h-screen w-screen random-bg transition-all bg-black;
}

.profile-label {
  @apply text-xs text-gray-300 font-bold font-mono;
}

.profile-value {
  @apply text-xl text-gray-50 mb-3;
}
